body {

  background: url("../images/pineapplecut.png");
	width:800px;
	height:600px;

}

.title{
	text-align: center;
	font-family: "Dosis";
	margin: 0px;
	padding:0px;

}

.title2{
	text-align: center;
	font-family: "Dosis";
	margin: 0px;
	padding:0px;
	
}

h1{
	width:100%;
	height: auto;
	font-size: 1em;
	padding: 0px;
	margin: 0px;
}

h2{
	padding:0px;
}


h3{
	margin-top: 0px;
	padding-top: 0px;
	line-height: 0px;
}
#images{

	width:40%;
	height:auto;
	float:left;
	clear:both;
	margin-left: 50px;
}

#images2{

	top:60px;
	width:208px;
	height:auto;
	position: relative;


}

#textHead {
	font-size: 80px;
	margin-bottom: 100px;
	margin-top:0px;
	padding-bottom: 0px;
}


.ulist{
	
	display:inline;
	list-style: none;
}



#game{	font-family: "Dosis";
		display:inline;
		list-style: none;
		font-size: 1.1em;
		text-align: center;


}

#gamestyle{
	width:50%;
	height: auto;
	margin-left:350px;
	margin-top: 10px;
}

@media screen and (min-width: 888px) and (max-width: 1440px) {

body {	
	width:100%;
	height:auto;
	padding-left: 100px;
	background: none;
	}

#gamestyle {
	margin-top:50px;
	}

.title{
	text-align: center;
	font-family: "Dosis";
	margin: 0px;
	padding:0px;
	}

#textHead {
	font-size: 80px;
	margin-bottom: 100px;
	margin-top:0px;
	margin-right: 250px;
	padding-bottom: 0px;
	}
.title2{
 
	margin-right:250px;
	}
}
	